<tr class='link' id='<%= link.id %>'>
  <td><%= link.title %></td>
  <td><%= link.url %></td>
  <td class='read-status'><%= link.read %></td>
  <td class='mark-as-read'><button>Mark as Read</button></td>
  <td><%= link_to 'Edit', edit_link_path(link) %></td>
</tr>
